.banner
	.banner-content
		p.banner-name FRETE GRATIS PARA COMPRAS ACIMA DE R$300,00
		.banner-navigation
			.banner-navigation-circle-one
			.banner-navigation-circle-two
			.banner-navigation-circle-three