.futer
	.futer-content
		ul.futer-content-info
			li SOBRE
			li CONTATO
			li TERMOS & CONDICOES
			li POLITICA DE PRIVACIDADE
		.futer-content-soc
			a(href="#")
				img(src="images/icon-facebook.png", alt="qw")
			a(href="#")
				img(src="images/icon-twitter.png", alt="e")
			a(href="#")
				img(src="images/icon-instagram.png", alt="erawd")
.futer-mob
	.futer-mob-logo
		a(href="#")
			img(src="images/icon-futer-mob.png", alt="")