.form-content
	.form-content-name
		p.form-content-name-content NEWSLETTER
	form(action="#")
		input.name(type="text" placeholder="NOME")
		input.email(type="text" placeholder="ENDERECO DE EMAIL")
		button.form-button 
			b CADASTRAR