.instagram-blog
	.instagram-blog-name
		img.instagram-blog-name-first-icon(src="images/first-icon-name.png", alt="")
		img.instagram-blog-name-first-icon-small(src="images/first-icon-name-small.png", alt="")
		p.instagram-blog-name-name GALERIA DO INSTAGRAM
		img.instagram-blog-name-last-icon(src="images/last-icon-name.png", alt="")
		img.instagram-blog-name-last-icon-small(src="images/last-icon-name-small.png", alt="")
	.instagram-blog-content
		.instagram-blog-content-img 
			img(src="images/instagram-foto1.jpg", alt="")
			div
				p.like
					img(src="images/icon-like.png", alt="")
				p 
					b 1,452 likes
		.instagram-blog-content-img
			img(src="images/instagram-foto2.jpg", alt="")
			div
				p.like
					img(src="images/icon-like.png", alt="")
				p 
					b 2,986 likes
		.instagram-blog-content-img
			img(src="images/instagram-foto3.jpg", alt="")
			div
				p.like
					img(src="images/icon-like.png", alt="")
				p 
					b 999 likes
		.instagram-blog-content-img
			img(src="images/instagram-foto4.jpg", alt="")
			div
				p.like
					img(src="images/icon-like.png", alt="")
				p 
					b 5,035 likes
		.instagram-blog-content-img
			img(src="images/instagram-foto5.jpg", alt="")
			div
				p.like
					img(src="images/icon-like.png", alt="")
				p 
					b 1,324 likes