.menu-up
	.menu-content
		.menu-icon
			span.menu-icon__bar
		p.menu-content-name 
			b CLOTH & FASHION
		.menu-content-login-block
			p.menu-content-login-block-name 
				a(href="#") LOGIN
			.menu-content-login-block-quantiti
				p 88
			.menu-content-login-block-bascet
				img(src="images/icon-bascet.png", alt="")
#nav
	.nav-heder
		.nav-heder-content
			p MENU
			.close
	.nav-search
		.nav-search-content
			input(type="text" placeholder="O QUE ESTA PROCURANDO?")
			button
	.nav-menu
		.nav-menu-content
			ul.accordion-menu
				li
					.dropdownlink CATEGORIA
						i.fa.fa-plus(aria-hidden="true")
						i.fa.fa-minus(aria-hidden="true")
					ul.submenuItems
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
				li
					.dropdownlink CATEGORIA
						i.fa.fa-plus(aria-hidden="true")
						i.fa.fa-minus(aria-hidden="true")
					ul.submenuItems
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
				li
					.dropdownlink CATEGORIA
						i.fa.fa-plus(aria-hidden="true")
						i.fa.fa-minus(aria-hidden="true")
					ul.submenuItems
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") bhjlkmsdfvc
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
				li
					.dropdownlink CATEGORIA
						i.fa.fa-plus(aria-hidden="true")
						i.fa.fa-minus(aria-hidden="true")
					ul.submenuItems
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
				li
					.dropdownlink CATEGORIA
						i.fa.fa-plus(aria-hidden="true")
						i.fa.fa-minus(aria-hidden="true")
					ul.submenuItems
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
			.nav-menu-content-soc
				.nav-menu-content-soc-icons
					a(href="#")
						img(src="images/icon-facebook-black.png", alt="")
					a(href="#")
						img(src="images/icon-twitter-black.png", alt="")
					a(href="#")
						img(src="images/icon-instagram-black.png", alt="")