.menu
	.menu-content
		.menu-icon
			span.menu-icon__bar
		p.menu-content-name 
			b CLOTH & FASHION
		.menu-content-login-block
			p.menu-content-login-block-name 
				a(href="#") LOGIN
			.menu-content-login-block-quantiti
				p 88
			.menu-content-login-block-bascet
				img(src="images/icon-bascet.png", alt="")
#nav
	.nav-heder
		.nav-heder-content
			p MENU
			.close
	.nav-search
		.nav-search-content
			input(type="text" placeholder="O QUE ESTA PROCURANDO?")
			button
	.nav-menu
		.nav-menu-content
			ul.accordion-menu
				li
					.dropdownlink CATEGORIA
						i.fa.fa-plus(aria-hidden="true")
						i.fa.fa-minus(aria-hidden="true")
					ul.submenuItems
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
				li
					.dropdownlink CATEGORIA
						i.fa.fa-plus(aria-hidden="true")
						i.fa.fa-minus(aria-hidden="true")
					ul.submenuItems
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
				li
					.dropdownlink CATEGORIA
						i.fa.fa-plus(aria-hidden="true")
						i.fa.fa-minus(aria-hidden="true")
					ul.submenuItems
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") bhjlkmsdfvc
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
				li
					.dropdownlink CATEGORIA
						i.fa.fa-plus(aria-hidden="true")
						i.fa.fa-minus(aria-hidden="true")
					ul.submenuItems
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
				li
					.dropdownlink CATEGORIA
						i.fa.fa-plus(aria-hidden="true")
						i.fa.fa-minus(aria-hidden="true")
					ul.submenuItems
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
						li
							i.fa.fa-chevron-down(aria-hidden="true")
							a(href="#") CATEGORIA
			.nav-menu-content-soc
				.nav-menu-content-soc-icons
					a(href="#")
						img(src="images/icon-facebook-black.png", alt="")
					a(href="#")
						img(src="images/icon-twitter-black.png", alt="")
					a(href="#")
						img(src="images/icon-instagram-black.png", alt="")
#nav-basket
	.nav-basket-heder
		.nav-basket-heder-content
			p MEU CARINHO
			.nav-basket-heder-content-quantiti
				p 88
			.nav-basket-heder-content-bascet
				img(src="images/icon-bascet.png", alt="")
	.nav-basket-products
		.nav-basket-products-content
			.nav-basket-products-content-product
				img(src="images/price-foto3.jpg", alt="")
				p.name-product Nome do Producto
				.close-product
				.color
				.count-product
					.count-product-minus
						i.fa.fa-minus.count-minus(aria-hidden="true")
					.count-product-number
						p 88
					.count-product-plus
						i.fa.fa-plus.count-plus(aria-hidden="true")
				p.sum-product R$88,88
		.nav-basket-products-content
			.nav-basket-products-content-product
				img(src="images/price-foto3.jpg", alt="")
				p.name-product Nome do Producto
				.close-product
				.color
				.count-product
					.count-product-minus
						i.fa.fa-minus.count-minus(aria-hidden="true")
					.count-product-number
						p 88
					.count-product-plus
						i.fa.fa-plus.count-plus(aria-hidden="true")
				p.sum-product R$88,88 
	.nav-basket-total
		.nav-basket-total-content
			p 
				b TOTAL
			p R$88,88 
	.nav-basket-futer
		.nav-basket-futer-content
			.nav-basket-futer-content-name
				p
					b CONTINUAR
					br 
					b COMPRANDO
			button 
				b CHECKOUT
				i.fa.fa-chevron-down.nav-basket-futer-content-button(aria-hidden="true")




