.people-blog
	.people-blog-name
		img.people-blog-name-first-icon(src="images/first-icon-name.png", alt="")
		img.people-blog-name-first-icon-small(src="images/first-icon-name-small.png", alt="")
		p.people-blog-name-name QUEM USA
		img.people-blog-name-last-icon(src="images/last-icon-name.png", alt="")
		img.people-blog-name-last-icon-small(src="images/last-icon-name-small.png", alt="")
	.people-blog-content
		.people-blog-content-img 
			img(src="images/peopleBlog-img-one.jpg", alt="")
			div
				p FE
		.people-blog-content-img
			img(src="images/peopleBlog-img-two.jpg", alt="")
			div
				p David Guetto
		.people-blog-content-img
			img(src="images/peopleBlog-img-three.jpg", alt="")
			div
				p fsdfsd
		.people-blog-content-img
			img(src="images/peopleBlog-img-four.jpg", alt="")
			div
				p Jon Mageto
