.products
	.products-name
		img.products-icon(src="images/icon-products.png", alt="")
	.products-content
		.categoria-one
			a(href="#")
				img(src="images/categoria1.jpg", alt="")
			p JAQUETAS
			.categoria-one-name
				p JAQUETAS	
		.categoria-two
			a(href="#")
				img(src="images/categoria2.jpg", alt="")
			p SHORTS
			.categoria-two-name
				p SHORTS	
		.categoria-three
			a(href="#")
				img(src="images/categoria3.jpg", alt="")
			p CORTA-VENTO
			.categoria-three-name
				p CORTA-VENTO
		.categoria-four
			a(href="#")
				img(src="images/categoria4.jpg", alt="")
			p CAMISAS
			.categoria-four-name
				p CAMISAS
		.categoria-six
			a(href="#")
				img(src="images/categoria5.jpg", alt="")
			p CALCAS
			.categoria-six-name
				p CALCAS	
		.categoria-five
			a(href="#")
				img(src="images/categoria6.jpg", alt="")
			p CAMISETAS
			.categoria-five-name
				p CAMISETAS
		
