.slider-price-name
	img.slider-price-name-first-icon(src="images/first-icon-name.png", alt="")
	img.slider-price-name-first-icon-small(src="images/first-icon-name-small.png", alt="")
	p.slider-price-name-name PRODUTOS EM DESTAQUE
	img.slider-price-name-last-icon(src="images/last-icon-name.png", alt="")
	img.slider-price-name-last-icon-small(src="images/last-icon-name-small.png", alt="")
section.center
	div
		img(src="images/price-foto1.jpg")
		.slider-price-bg
			img(src="images/price-foto-bg.jpg", alt="")
			.slider-price-bg-text
				span.slider-price-bg-text-name ROMA
		p R $00,00
	div
		img(src="images/price-foto2.jpg")
		.slider-price-bg
			img(src="images/price-foto-bg.jpg", alt="")
			.slider-price-bg-text
				span.slider-price-bg-text-name KIRILL
		p R $00,00
	div
		img(src="images/price-foto3.jpg")
		.slider-price-bg
			img(src="images/price-foto-bg.jpg", alt="")
			.slider-price-bg-text
				span.slider-price-bg-text-name VLAD
		p R $00,00
	div
		img(src="images/price-foto4.jpg")
		.slider-price-bg
			img(src="images/price-foto-bg.jpg", alt="")
			.slider-price-bg-text
				span.slider-price-bg-text-name SASHA
		p R $00,00
	div
		img(src="images/price-foto5.jpg")
		.slider-price-bg
			img(src="images/price-foto-bg.jpg", alt="")
			.slider-price-bg-text
				span.slider-price-bg-text-name PETYA
		p R $00,00
	div
		img(src="images/price-foto6.jpg")
		.slider-price-bg
			img(src="images/price-foto-bg.jpg", alt="")
			.slider-price-bg-text
				span.slider-price-bg-text-name EGOR
		p R $00,00
script(src="scripts/slick.js")
script(src="scripts/script-sliderPrice.js")

	
