.slider
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.slider-content
					.slider-name-up
						p 
							b C&F 
							content CLOTHING
					.slider-name-down
						p SPORTS & LIFESTYLE
					.slider-button-div
						button.slider-button 
							b CONFIRA
			.swiper-slide
				.slider-content
					.slider-name-up
						p 
							b C&F 
							content CLOTHING
					.slider-name-down
						p SPORTS & LIFESTYLE
					.slider-button-div
						button.slider-button 
							b CONFIRA
			.swiper-slide
				.slider-content
					.slider-name-up
						p 
							b C&F 
							content CLOTHING
					.slider-name-down
						p SPORTS & LIFESTYLE
					.slider-button-div
						button.slider-button 
							b CONFIRA
			.swiper-slide
				.slider-content
					.slider-name-up
						p 
							b C&F 
							content CLOTHING
					.slider-name-down
						p SPORTS & LIFESTYLE
					.slider-button-div
						button.slider-button 
							b CONFIRA
			.swiper-slide
				.slider-content
					.slider-name-up
						p 
							b C&F 
							content CLOTHING
					.slider-name-down
						p SPORTS & LIFESTYLE
					.slider-button-div
						button.slider-button 
							b CONFIRA
		//- <!-- Add Pagination -->
		.swiper-pagination
script(src="scripts/slider.js")