<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Front-End
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.css")
		link(rel="stylesheet", href="css/stylus/main.css")
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="css/slick.css")
		link(rel="stylesheet", href="css/slick-theme.css")
		//- Для Моб версии
		meta(name="viewport" content="width=device-width, initial-scale=1")
		//- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js")
		script(src="https://code.jquery.com/jquery-2.2.0.min.js")
		

		
		link(rel="stylesheet prefetch", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")
	body
		include modules/menu-up
		include modules/banner
		include modules/slider
		include modules/menu
		include modules/sliderPrice
		include modules/products
		include modules/instagramBlog
		include modules/peopleBlog
		include modules/homeForm
		include modules/futer
		script(src="scripts/main.js")

	
	



	
