.banner
	width 100%
	height 16px
	background-color #c5c5c5
.banner-content
	width 90%
	height 16px
	margin 0 auto
	justify-content space-around
	align-items center
	text-align center
.banner-name
	height 13px
	display inline-block
	color white
	font-size 12px
	cursor pointer
.banner-navigation
	width 32px
	height 16px;
	display flex
	text-align center
	float right 
	flex-direction row
	justify-content space-around
	align-items center	
.banner-navigation-circle-one
	width 6px
	height 6px
	display inline-block
	border 1px solid black
	border-radius 50%
	cursor pointer
.banner-navigation-circle-two
	width 6px
	height 6px
	background-color: black
	display inline-block
	border 1px solid black
	border-radius 50%
	cursor pointer
.banner-navigation-circle-three
	width 6px
	height 6px
	display inline-block
	border 1px solid black
	border-radius 50%
	cursor pointer