.form-content
	width 90%
	padding-top 50px
	padding-bottom 50px
	margin auto
.form-content-name
	width 195px
	height 53px
	background-color #000000
	position relative
	display inline-block
	&:after
		content ''
		position absolute
		height 0
		width 0
		left 100%
		top 0
		border 26.5px solid transparent
		border-left 26.5px solid #000000
.form-content-name-content
	color white
	margin 0 auto
	font-size 19px
	text-align center
	padding-top 15px
.form-content form
	width 969px

	display inline-block
	float right	
	position relative
	
.name
	width 355px
	height 50px
	background-color white
	border 1px solid #d0d0d0
	display inline-block
	font-size 20px
	float left
	text-align center
	// &:focus
	// 	border 2px solid black
.email	
	width 355px
	height 50px
	background-color white
	border 1px solid #d0d0d0
	display inline-block
	font-size 20px
	margin-left 2%
	margin-right 2%
	text-align center
.form-button
	width 215px
	height 53px
	margin-bottom -22px
	position absolute
	top 0
	color #393939
	background-color #d0d0d0
	justify-content right
	transition-duration 0.5s
	&:hover
		color #d0d0d0
		background-color #393939
		cursor pointer
	
	
	
		