@import "banner.styl"
@import "slider.styl"
@import "menu.styl"
@import "sliderPrice.styl"
@import "products.styl"
@import "instagramBlog.styl"
@import "peopleBlog.styl"
@import "homeForm.styl"
@import "futer.styl"