.products
	width 90%
	// height 1390px
	margin 0 auto
.products-name
	width 160px
	margin 0 auto
	margin-bottom 30px
.products-content
	width 100%
	margin 0 auto
.categoria-one
	width 49%
	// height 442px
	position: relative
	float left
	text-align center
.categoria-one img
	max-width 100%
	// display inline-block
.categoria-one-name p
	width 100%
	position: absolute
	top 50%
	color white
	font-size 33px
	z-index 1
.categoria-one p
	width 100%
	position: absolute
	top 48%
	color white
	font-size 33px
	
	// display inline-block
	// color white
	// margin-top 50%
.categoria-one-name
	max-width 100%
	max-height 99%
	display inline-block
	background-color rgba(0, 0, 0, .5)
	opacity 0
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	transition-duration 0.5s
	// text-align center
	&:hover
		opacity 1
.categoria-two
	width 49%
	// height 442px
	position: relative
	float right
	text-align center
.categoria-two img
	max-width 100%
	// display inline-block
.categoria-two-name p
	width 100%
	position: absolute
	top 50%
	color white
	font-size 33px
	z-index 1
.categoria-two p
	width 100%
	position: absolute
	top 48%
	color white
	font-size 33px
	
	// display inline-block
	// color white
	// margin-top 50%
.categoria-two-name
	max-width 100%
	max-height 99%
	display inline-block
	background-color rgba(0, 0, 0, .5)
	opacity 0
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	transition-duration 0.5s
	// text-align center
	&:hover
		opacity 1
.categoria-three
	width 63.7%
	// height 442px
	margin-top 20px
	position: relative
	float left
	text-align center
	
.categoria-three img
	max-width 100%
	max-height 100%
	
	// display inline-block
.categoria-three-name p
	width 100%
	position: absolute
	top 50%
	color white
	font-size 33px
	z-index 1
.categoria-three p
	width 100%
	position: absolute
	top 48%
	color white
	font-size 33px
	
	// display inline-block
	// color white
	// margin-top 50%
.categoria-three-name
	max-width 100%
	max-height 99%
	display inline-block
	background-color rgba(0, 0, 0, .5)
	opacity 0
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	transition-duration 0.5s
	// text-align center
	&:hover
		opacity 1
.categoria-four
	width 34%
	// height 442px
	margin-top 20px
	position: relative
	float right
	text-align center

.categoria-four img
	max-width 100%
	// display inline-block
.categoria-four-name p
	width 100%
	position: absolute
	top 50%
	color white
	font-size 33px
	z-index 1
.categoria-four p
	width 100%
	position: absolute
	top 48%
	color white
	font-size 33px
	
	// display inline-block
	// color white
	// margin-top 50%
.categoria-four-name
	max-width 100%
	max-height 99%
	display inline-block
	background-color rgba(0, 0, 0, .5)
	opacity 0
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	transition-duration 0.5s
	// text-align center
	&:hover
		opacity 1
.categoria-five
	width 61.5%
	// height 442px
	margin-top 20px
	position: relative
	float right
	text-align center
	
.categoria-five img
	max-width 100%
	max-height 100%
	
	// display inline-block
.categoria-five-name p
	width 100%
	position: absolute
	top 50%
	color white
	font-size 33px
	z-index 1
.categoria-five p
	width 100%
	position: absolute
	top 48%
	color white
	font-size 33px
	
	// display inline-block
	// color white
	// margin-top 50%
.categoria-five-name
	max-width 100%
	max-height 99%
	display inline-block
	background-color rgba(0, 0, 0, .5)
	opacity 0
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	transition-duration 0.5s
	// text-align center
	&:hover
		opacity 1
.categoria-six
	width 36.5%
	// height 442px
	margin-top 20px
	position: relative
	float left
	text-align center
	
.categoria-six img
	max-width 100%
	// max-height 100%
	
	// display inline-block
.categoria-six-name p
	width 100%
	position: absolute
	top 50%
	color white
	font-size 33px
	z-index 1
.categoria-six p
	width 100%
	position: absolute
	top 48%
	color white
	font-size 33px
	
	// display inline-block
	// color white
	// margin-top 50%
.categoria-six-name
	max-width 100%
	max-height 99%
	display inline-block
	background-color rgba(0, 0, 0, .5)
	opacity 0
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	transition-duration 0.5s
	// text-align center
	&:hover
		opacity 1