.slider
	width 100%
	height 100vh
	display inline-block
	// background-size 100%


.swiper-slide
	width 100vh
	height 100vh
	background url('../../images/slider-bg.jpg') 50% 50% / cover
	// background-size 100% 100%
.swiper-pagination span
	width 18px
	height 18px
	border-radius 50%
	background-color #221f1f
	opacity 1
	cursor pointer
	&:not(.swiper-pagination-bullet-active)
		background-color white
.slider-content
	display: inline-block
	position: absolute
	z-index: 10
	top: 50%
	left: 10%
	transform: translateY(-50%)


.slider-name-up
	width 315px
	height 36px
	border-bottom 1px solid #393939
	font-size 23px
	text-align center
	zoom -2
.slider-name-down
	width 315px
	height 26px
	font-size 13px
	border-top 1px solid black
	text-align center
	display table-cell
	vertical-align bottom
.slider-button-div
	width 113px
	height 32px
	margin auto
	margin-top 50px
.slider-button
	width 113px
	height 32px
	background-color white
	border 2px solid #393939
	transition-duration 0.5s
	&:hover
		background-color #393939
		color white
		cursor pointer